<a href="{{image.largeImageURL}}">
  <div class="photo-card">
    <img src="{{image.webformatURL}}" alt="{{image.tags}}" loading="lazy" />
    <div class="info">
      <span class="info-item">
        <p><b>Likes</b></p>
        <span>{{image.likes}}</span>
      </span>
      <span class="info-item">
        <p><b>Comments</b></p>
        <span>{{image.comments}}</span>
      </span>
      <span class="info-item">
        <p><b>Views</b></p>
        <span>{{image.views}}</span>
      </span>
      <span class="info-item">
        <p><b>Downloads</b></p>
        <span>{{image.downloads}}</span>
      </span>
    </div>
  </div>
</a>