<a href="{{image.largeImageURL}}" class="gallery__link">
  <div class="gallery__card">
    <img src="{{image.webformatURL}}" alt="{{image.tags}}" loading="lazy" />
    <div class="gallery__card-info-box">
      <span class="gallery__card-info-part">
        <p><b>Likes</b></p>
        <span>{{image.likes}}</span>
      </span>
      <span class="gallery__card-info-part">
        <p><b>Comments</b></p>
        <span>{{image.comments}}</span>
      </span>
      <span class="gallery__card-info-part">
        <p><b>Views</b></p>
        <span>{{image.views}}</span>
      </span>
      <span class="gallery__card-info-part">
        <p><b>Downloads</b></p>
        <span>{{image.downloads}}</span>
      </span>
    </div>
  </div>
</a>